
<div class="col-md-5">
    <img src="assets/images/my.jpg" class="img-responsive img-thumbnail center-block" >
</div>
<div class="col-md-6 background">
    <div class="transbox">
    <p>
        My name is Jainish Shah. I'm a Software Developer.<br>
        I build modern, simple, responsive application.
    </p>
    <p>
        My work history has provided me a variety of business skills, which allow me to relate to all levels of management, to a variety of business positions, and work successfully with a diversity of personalities, customers, and end-users.<br> As being part of DevOps team in Zephyr I am working on cutting edge technologies like ElasticSearch, PlayFramework, RIAK, InfluxDB, Hazelcast for developing Atlassian Plugin for JIRA.
    </p>
    <p>
        My education has provided me with a variety of information systems knowledge and practical skills; primarily in software engineering, Java development, and Continuous Integration / Continuous Delivery, as well as network design, implementation, and administration, information systems security, SQL Server and NoSQL query development, and database management (RIAK, MongoDB, InfluxDB, MySQL). <br>I also have proficient skills with website design, HTML, CSS, and JavaScript development (Angular.js, backbone.js, Node.js), as well as website administration.
    </p>
    </div>
</div>


