<div class="projects">
    <h1 align="center">Projects</h1>
    <ul style="list-style-type:square">
        <li><b>Multiplex Ticket Booking System</b>
            <p>Multiplex Ticket Booking System is for employees of Cinema to provide their user a graphical interface to choose seats in theater by providing seating arrangement in visual form.
               <br> This project was developed in Visual Basic.
            </p>
        </li>
        <li><b>Student Relationship Management System</b>
            <p>It is a software solution which creates a bridge between Parents, Professors, and Students.<br>
                This product can be used by an educational institution to maintain records of students and manage activities of the Institute.<br>
                SRMS is built on ASP.NET platform using SQL server 2005 as backend.
            </p>
        </li>
        <li><b>Desktop As A Service</b>
            <p>World Desk for Enterprise is a platform which provisions On-Demand Desktop delivery to users. <br>
                The project aims to build a platform which optimizes the Desktop life cycle management process, which includes creating, provisioning and managing the desktops.
            </p>
        </li>
    </ul>
</div>

<div align="center">
    <h1>What Else I can Do..</h1>
    <div class="movie">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/2y9TlY0kfT8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="movie">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/WJ5DJldWsfA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
    </div>
</div>

