<div align="center">
    <h1>Projects</h1>
    <h2>Multiplex Ticket Booking System</h2>
    <p>Multiplex Ticket Booking System is for employees of Cinema to provide their user a graphical interface to choose seats in theater by providing seating arrangement in visual form.
    This project was developed in Visual Basic.</p>
    <h2>Student Relationship Management System</h2>
    <p>It is a software solution which creates a bridge between Parents, Professors, and Students. This product can be used by an educational institution to maintain records of students and manage activities of the Institute. SRMS is built on ASP.NET platform using SQL server 2005 as backend.</p>
    <h2>Desktop As A Service</h2>
    <p>World Desk for Enterprise is a platform which provisions On-Demand Desktop delivery to users. The project aims to build a platform which optimizes the Desktop life cycle management process, which includes creating, provisioning and managing the desktops.
    </p>
</div>

<div align="center">
    <h1>What Else I can Do..</h1>
    <div class="video">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/2y9TlY0kfT8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/WJ5DJldWsfA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
    </div>
</div>

